
h1{
	width: 500px;
	margin: 0 auto;
	margin-top: 100px;
	text-align: center;
}

h1 span{
	font-family: sans-serif;
	font-size: 100px;
}

h1 span.blue{
	color: blue;
}

h1 span.red{
	color: red;
}

h1 span.green{
	color: green;
}

h1 span.purple{
	color: purple;
}

form.finder-form{
	width: 500px;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 40px;
}

form.finder-form input[type='text']{
	width: 400px;
	border: 1px solid #ccc;
	font-family: sans-serif;
	font-size: 16px;
	padding: 10px 10px;
	border-radius: 5px 0px 0px 5px;
	outline-width: 0;
}

form.finder-form input[type='submit']{
	font-family: sans-serif;
	font-size: 16px;
	margin-left: -6px;
	padding: 10px 10px;
	background-color: #fff;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #fff;
	border-right: 1px solid #ccc;
	border-radius: 0px 5px 5px 0px;
	cursor: pointer;
	outline-width: 0;
}


div.finder-results{
	width: 90%;
	margin: 0 auto;
	margin-bottom: 50px;
}

div.finder-results table{	
	width: 100%;
	border-collapse: collapse;
	font-family: sans-serif;
}

div.finder-results table th{
	border: 1px solid #ccc;
	padding: 5px 5px;
	font-size: 14px;
}

div.finder-results table td{
	border: 1px solid #ccc;
	padding: 5px 5px;
	font-size: 14px;
}

div.finder-results .action-btn{
	text-align: center;
}

div.finder-results .action-btn a{
	font-family: sans-serif;
	font-weight: bold;
	text-decoration: none;
	display: inline-block;
	color: #f2f2f2;
	font-size: 14px;
	border-radius: 3px;
	padding: 3px 6px;
}

div.finder-results .action-btn .btn-insert{
	background-color: #ff9966;
	border: 1px solid #ff9966;
}

div.finder-results .action-btn .btn-update{
	background-color: #0099ff;
	border: 1px solid #0099ff;
}

div.finder-results .action-btn .btn-delete{
	background-color: #ff471a;
	border: 1px solid #ff471a;
}

div.finder-results input.identifier{
	background-color: white
	color: white; 
	border: 1px solid white;
	width: 110px;
	outline-width: 0;
}


div.form-insert{
	border: 1px solid #ccc;
	width: 400px;
	margin: 0 auto;
	border-radius: 4px;
}

div.form-insert form{
	width: 90%;
	margin: 20px auto;
}

div.form-insert form div.inputs{
	width: 100%;
	margin: 10px 0;
	font-family: sans-serif;
}

div.form-insert form div.inputs label{
	font-size: 18px;
	text-align: center;
}

div.form-insert form div.inputs input{
	font-size: 16px;
	padding: 4px 5px;
	outline-width: 0;
	border: 1px solid #ccc;
}

div.form-insert form div.submit{
	width: 100%;
}

div.form-insert form div.submit input{
	font-family: sans-serif;
	font-size: 18px;
	border: 1px solid #ccc;
	background-color: #f2f2f2;
	padding: 4px 20px;
	cursor: pointer;
	border-radius: 4px;
}


p.info-success{
	width: 600px;
	margin: 20px auto;
	border: 2px solid #006bb3;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 18px;
	color: #003d66;
	text-shadow: 2px 2px 2px #0099ff;
	text-align: center;
	padding: 10px 0;
	border-radius: 4px;
	background-color: #4db8ff;
	box-shadow: 2px 2px 5px #99d6ff;
}	

p.info-fail{
	width: 600px;
	margin: 20px auto;
	border: 2px solid #991f00;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 18px;
	color:#991f00;
	text-shadow: 2px 2px 1px #ff9980;
	text-align: center;
	padding: 10px 0;
	border-radius: 4px;
	background-color: #ff704d;
	box-shadow: 2px 2px 5px #ff9980;
}	


div.select-db{
	width: 100px;
	margin: 0 auto;
}

div.select-db{
	width: 200px;
	margin: 40px auto;
	font-family: sans-serif;
	font-weight: bold;
}

div.select-db select{
	border: 1px solid #ccc;
	width: 100%;
	height: 40px;
	border-radius: 5px;
	outline-width: 0;
	margin-top: 5px;
}

div.select-db select option{
	outline-width: 0;
}


form#insert{
	border:1px solid #ccc;
	width: 500px;
	margin: 20px auto;
	padding: 10px;
}

form#insert table{
	border-collapse: collapse;
	width: 100%;
}

form#insert table th{
	font-family: sans-serif;
	font-weight: bold;
	font-size: 18px;
	padding: 20px 0;
}

form#insert table td label{
	width: 90%;
	display: inline-block;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 16px;
	text-align: right;	
}

form#insert table td input{
	font-family: sans-serif;
		border: 1px solid #ccc;
	font-size: 16px;
	outline-width: 0;
	margin: 10px 0;
	padding: 4px 0;
}

form#insert table td input[type='submit']{
	width: 100%;
	display: inline-block;
	background-color: #fff;
	cursor: pointer;
	font-weight: bold;
	text-align: center;
}

form#insert table td input.input_disabled{
	background-color: #ddd;
	color: gray; 
}
